html,body {
	height: 100%;
	margin: 0;
	background:#fbfbfb;
	color:#353535;
	font-family: 'RobotoDraft', sans-serif;
}
h3{
	margin:0;
}
.mainarea{
	display:block;
	margin:0 auto;
	width:832px;
	padding-top:46px;
	padding-bottom:22px;
}
paper-dialog{
	width: 448px;
	min-height: 392px;
	background:#ffffff;
	border-radius:2px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
paper-dialog .wrapper{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	border-radius:3px;
	overflow:hidden;
}
paper-dialog .topstrip{
	height:50px;
	width:100%;
	background:white;
	border-bottom: 1px solid #eee;
}
paper-dialog .bottomstrip{
	height:48px;
	width:100%;
	position:absolute;
	background:#f7f7f7;
	border-top: 1px solid #ddd;
	bottom:0;
	text-align:right;
	padding:9px 10px;
	box-sizing:border-box;
}
paper-dialog .bottomstrip paper-button{
	color:#a1a1a1;
	font-weight:300;
	letter-spacing:.2px;
	font-size:14px;
	transition:all .13s ease;
}
paper-dialog .bottomstrip paper-button[disabled]{
	opacity:.4;
	pointer-events:none;
}
paper-dialog .bottomstrip paper-button.cancel::shadow paper-ripple{
	color:#e36c62 !important;
}
paper-dialog .bottomstrip paper-button.share::shadow paper-ripple{
	color:#8ac249 !important;
}
paper-dialog .bottomstrip paper-button:hover{
	color:#bbbbbb;
}
paper-dialog paper-progress{
	display:block;
	position:absolute;
	left:0px;
	right:0px;
	height:3px;
	width:100%;
	bottom:0;
}
paper-dialog paper-progress::shadow #activeProgress{
	background:#ff9800;
}
paper-dialog #container{
	display:none;
}
paper-tabs{
	font-size: 15px;
	height:52px;
	background: #ededed;
	box-shadow: 0px 1px 1px #bbb;
}
paper-tab{
	height:50px;
	transition:all .13 ease;
	color: #5e5e5e;
	font-size:16px;
	font-weight:400;
	padding-top:3px;
}
paper-tab:hover{
	background:#f1f1f1;
}
paper-tab:not(.core-selected){
	cursor:pointer;
}
paper-tab.core-selected{
	color: #5e5e5e;
}
paper-tabs::shadow #selectionBar {
  background-color: #ff9800;
}
paper-tab::shadow paper-ripple#ink {
	color:#ececec;
	color:#ffe0b2;
}
.middle{
	height:286px;
	position:relative;
	overflow-x:hidden;
}
.middle .page0, .middle .page1{
	position:absolute;
	top:30px;
	bottom:48px;
	left:32px;
	right:32px;
	visibility:hidden;
	opacity:0;
	transition:all .13 ease;
}
.middle.on0 .page0, .middle.on1 .page1{
	visibility:visible;
	opacity:1;
}
.middle paper-input{
	font-size:15px;
	width:100%;
}
.middle paper-input::shadow #container #label{
	color: #929292;
}
.middle paper-input::shadow #underline{
	background: #b2b2b2;
}
.middle paper-input::shadow .focusedColor{
	background:#ff9800;
	color:#d88100;
}