<!doctype html>
<html>
<head>
	<title>unquote</title>
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
	<script src="../components/platform/platform.js"></script>
	<link rel="import" href="../components/font-roboto/roboto.html">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="base.css" shim-shadowdom>
	<link rel="import" href="../components/paper-shadow/paper-shadow.html">
	<link rel="import" href="../components/paper-dialog/paper-dialog.html">
	<link rel="import" href="../components/paper-tabs/paper-tabs.html">
	<link rel="import" href="../components/paper-input/paper-input.html">
	<link rel="import" href="../components/paper-dialog/paper-dialog-transition.html">
	<link rel="import" href="../components/paper-progress/paper-progress.html">
	<link rel="import" href="../components/core-transition/core-transition.html">
	<link rel="import" href="../components/paper-shadow/paper-shadow.html">
	<link rel="import" href="../ourcomponents/posts-list/posts-list.html">
	<link rel="import" href="../ourcomponents/big-header/big-header.html">
	<link rel="import" href="../ourcomponents/hanging-menu/hanging-menu.html">
</head>
<body unresolved touch-action="auto">
	<big-header></big-header>
	<div class="mainarea">
		<posts-list listtype="hottest"></posts-list>
	</div>
	<hanging-menu></hanging-menu>
	<paper-dialog backdrop="true" id="newdialog" transition="paper-dialog-transition-bottom">
		<div class="wrapper">
			<div class="topstrip">
				<paper-tabs selected="0">
					<paper-tab>Link Post</paper-tab>
					<paper-tab>Text Post</paper-tab>
				</paper-tabs>
			</div>
			<div class="middle on0">
				<div class="page0">
					<paper-input class="title" multiline="" floatinglabel="" label="Post Title"></paper-input>
					<paper-input class="field" max-rows="7" validate="((([A-Za-z]{3,9}:(?:\/\/)?)(?:[-;:&=\+\$,\w]+@)?[A-Za-z0-9.-]+|(?:www.|[-;:&=\+\$,\w]+@)[A-Za-z0-9.-]+)((?:\/[\+~%\/.\w-_]*)?\??(?:[-\+=&;%@.\w_]*)#?(?:[\w]*))?)|go\/[^ \n\r\t]*$" multiline="" floatinglabel="" label="Link"></paper-input>
				</div>
				<div class="page1">
					<paper-input class="title" multiline="" floatinglabel="" label="Post Title"></paper-input>
					<paper-input class="field" max-rows="7" multiline="" floatinglabel="" label="Body Text"></paper-input>
				</div>
			</div>
			<div class="bottomstrip">
				<paper-button class="cancel" label="Cancel"></paper-button>
				<paper-button disabled class="share" label="Share"></paper-button>
				<paper-progress value="0"></paper-progress>
			</div>
		</div>
	</paper-dialog>
	<script src="sizzle.js"></script>
	<script src="moment.js"></script>
	<script src="web-animations.js"></script> 
	<script src="script.js"></script>
</body>
</html>