	<link rel="import" href="../../static/main/components/font-roboto/roboto.html">
	<link rel="stylesheet" href="../../static/main/assets/base.css" shim-shadowdom>
	<link rel="import" href="../../static/main/components/paper-shadow/paper-shadow.html">
	<link rel="import" href="../../static/main/components/paper-dialog/paper-dialog.html">
	<link rel="import" href="../../static/main/components/paper-tabs/paper-tabs.html">
	<link rel="import" href="../../static/main/components/paper-input/paper-input.html">
	<link rel="import" href="../../static/main/components/core-ajax/core-xhr.html">
	<link rel="import" href="../../static/main/components/paper-dialog/paper-dialog-transition.html">
	<link rel="import" href="../../static/main/components/paper-progress/paper-progress.html">
	<link rel="import" href="../../static/main/components/core-transition/core-transition.html">
	<link rel="import" href="../../static/main/components/paper-shadow/paper-shadow.html">
	<link rel="import" href="../../static/main/components/paper-toast/paper-toast.html">
	<link rel="import" href="../../static/main/ourcomponents/posts-list/posts-list.html">
	<link rel="import" href="../../static/main/ourcomponents/big-header/big-header.html">
	<link rel="import" href="../../static/main/ourcomponents/hanging-menu/hanging-menu.html">
	<link rel="import" href="../../static/main/ourcomponents/comments-area/comments-area.html">
	<link rel="import" href="../../static/main/ourcomponents/notifs-list/notifs-list.html">